
<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'Bates_Energy/css/index.css' %}?{% now 'U' %}"/>
    <title>Bates Eco Site</title>

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>




    <script src="https://d3js.org/d3-dsv.v1.min.js"></script>

<!--    <script defer src="/__/firebase/7.9.1/firebase-app.js"></script>-->
<!--    <script defer src="/__/firebase/init.js"></script>-->
    <style>

    svg {
    font: 10px sans-serif;
    }


    .axis path,
    .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .y.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

    .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
    }

    .line {
    fill: none;
    }

    </style>

  </head>
  <body>
    <!-- Welcome to the eco reps site. Here is just some sample plotting that we will expand on...<br><br>- Leo and Fahim<br><br> -->
    <!-- <div class="chart"></div> -->
<!--    <img src="bobcat.png" alt="Bobcat">-->
    <h1 class="header">
      Bates Energy Consumption Profile
    </h1>
    <div class="instructions">
      <ul>
        <li>Select multiple building names to view their energy consumption profile</li>
        <li>Make box selection on the bottom plot to view focused time-period on the top plot</li>

      </ul>
    </div>
    <form method="post" class="instructions" style="margin-top:10px">
        <input checked type="radio" id='compare buildings' name="compare" value="buildings">
        <label for="compare buildings">Compare Buildings</label><br>
        <input type="radio" id='compare years' name="compare" value="years">
        <label for="compare years">Compare Years</label><br>
    </form>
  <div id="vis-container"></div>

      <script type="module" src ="{% static 'Bates_Energy/js/main2.js' %}?{% now 'U' %}"></script>
  </body>
</html>
